# Discord Bot Token
DISCORD_TOKEN=MTUzODU1Mzk2NDUzMjk5ODI1NA.G5_bnW.u3exgN-JEhP3Kn40WvSrSHV3edob536suW2MYg

# Bot Configuration
BOT_PREFIX=!
BOT_NAME=Phong
DEV_GUILD_ID=1540994281219821658

# Database
DATABASE_URL=sqlite:///database/bot.db

# API Keys (Optional)
YOUTUBE_API_KEY=AIzaSyA6Xjuro7WkVRyk6sUztw34KaUse7xHDc4
OPENWEATHER_API_KEY=0428e07ca4a3ffb0354fb512e7d5fca3

# Logging
LOG_LEVEL=INFO

# Trong .env
FFMPEG_PATH=C:\ffmpeg\bin\ffmpeg.exe